.sidebar-logo{
    width: 200px;
    margin: 20px 0;
}
.sidebar-logo img{
    width: 100%;
}
.side-menu ul{
    list-style: none;
    padding: 0;
}
.side-menu ul li{
    margin: 15px 0;
}
.link {
    text-decoration: none;
    color: #000;
}

.canvas{
    background: #f3f7fc;
    height: 100%;
}
.dashboard-section{
    height:100vh;
}
.component-sizeing{
    padding: 50px 30px;
}
.icon{
    height: 50px;
}
.icon img{
    height: 100%;
}
.order-box{
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    margin: 10px;
    height: 300px;
    overflow-y: scroll;
}