.portfolio{
    background:#111430;
}

/* .portfolio-img{
    height: 100px;
    width: 200px;
    margin-right: 20px;
} */
.swiper-slide{
    width: 28vw !important;
    overflow: hidden;
}
.swiper-slide img{
    width: 100%;
}
.swiper-pagination-bullet-active{
    background: #FBD062 !important;
}