.login-page{
    height: 100vh;
}
.login-container{
    height: 400px;
    width: 400px;
    border: 1px solid #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
}
.branding{
    width: 150px;
    margin: 50px auto;
}
.branding img{
    width: 100%;
    text-align: center;
}
.google-btn{
    border: 2px solid rgb(195, 192, 192);
    display: flex;
    justify-content: start;
    border-radius: 20px;
    cursor: pointer;
}
.google-btn span{
    margin-left: 50px;
    margin-top: 8px;
}
.google-btn .icon{
    margin-top: -7px;
    font-size: 30px;
    color: #7AB259;
}
.create-account{
    cursor: pointer;

}
.create-account:hover{
    color: #7AB259;
}