.btn-brand{
  background-color: #111430;
  border-radius: 5px;
  color: #fff;
}
.login-btn{
  text-decoration: none;
  color: #fff;
}.login-btn:hover{
  text-decoration: none;
  color: #fff;
}
.y-bg{
  background-color: #FBD062;
}
.text-marking{
  color: #7AB259;
}
.main-logo{
  height: 50px;
}
.active{
  border-bottom: 5px solid #7AB259;
}
.company-logo{
  width: 100%;
  margin: 0 auto;
}
