.btn-brand{
  background-color: #111430;
  border-radius: 5px;
  color: #fff;
}
.btn-brand:hover{
  color: #FBD062;
}
.btn:focus{
  box-shadow: 0 0 0 0.2rem rgb(68 71 74 / 37%);
}
.login-btn{
  text-decoration: none;
  color: #fff;
}.login-btn:hover{
  text-decoration: none;
  color: #fff;
}
.y-bg{
  background-color: #FBD062;
}
.text-marking{
  color: #7AB259;
}
.main-logo{
  height: 50px;
}
.active{
  border-bottom: 5px solid #7AB259;
}
.company-logo{
  width: 10vw;
  margin: 0 auto;
}
#shape {
  width: 0;
  height: 0;
  border-top: 100px solid #FBD062;
  border-right: 97vw solid transparent;
}
.navbar-toggler{
  border: none;
}
.hero-logos{
  width: 90vw;
}
.brand-container {
  margin: 0 5px;
}

.brand-container img {
  width: 100%;
}
html{
  scroll-behavior: smooth;
}